<button class="btn btn-success" style="width:30%; margin-bottom: 20px" (click)="addBook()">{{ifAdd?'Cancel':'Add book'}}</button>
<div class="add-book-form-container" *ngIf="ifAdd">
    <h1>Add Book</h1>

    <form #bookForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   placeholder="Book Title"
                   [(ngModel)]="model.title"
                   name="title"
                   #title="ngModel"
                   required>
            <div [hidden]="title.valid || title.pristine"
                 class="alert alert-danger">
                Title is required
            </div>
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text"
                   class="form-control"
                   placeholder="Book author"
                   [(ngModel)]="model.author"
                   name="author"
                   id="author"
                   #author="ngModel"
                   required>
            <div [hidden]="author.valid || author.pristine"
                 class="alert alert-danger">
                Author is required
            </div>
        </div>

        <div class="form-group">
            <label for="about">About</label>
            <input type="text"
                   class="form-control"
                   placeholder="Something about book"
                   [(ngModel)]="model.about"
                   name="about"
                   id="about"
                   #about="ngModel"
                   required>
            <div [hidden]="about.valid || about.pristine"
                 class="alert alert-danger">
                About is required
            </div>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="text"
                   class="form-control"
                   pattern="\d{4}"
                   placeholder="YYYY"
                   [(ngModel)]="model.date"
                   name="date"
                   id="date"
                   #date="ngModel"
                   required>
        </div>
        <div class="form-group">
            <label for="img">Image url</label>
            <input type="url" class="form-control"
                   pattern="(https?:\/\/.*\.(?:png|jpg))"
                   placeholder="https://www.something.com/image.png"
                   [(ngModel)]="model.img"
                   name="img"
                   id="img"
                   #img="ngModel"
                   required>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid" (click)="add(model); bookForm.reset()">Add</button>
    </form>
</div>
<div *ngIf="!ifAdd">
    <book-search></book-search>
    <div class="row">
        <div class="col-4 " *ngFor="let book of books"  [routerLink]="['/book', book.id]">
            <div class="single-book">
                <button type="button" class="close" style="color:white"
                        (click)="delete(book);
                         $event.stopPropagation()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img src="{{book.img}}" style="height: 200px"> <br>
                <h4>{{book.title}}</h4>
                <h6>{{book.author}}</h6>
            </div>
        </div>
    </div>
</div>