
<div *ngIf="book">
    <div *ngIf="!editing">
        <h1>{{book.title}}</h1>
    </div>
    <div *ngIf="editing">
        <label>Title: </label>
        <input [(ngModel)]="book.title" placeholder="title" />
    </div>
    <h4>{{book.author}}</h4>
    <img src="{{book.img}}" style="height: 500px;" alt="">
    <h6 style="margin-top: 30px">{{book.about}}</h6>
    <button (click)="edit()" class="btn btn-default">Edit</button>
</div>

<button (click)="goBack()" class="btn btn-danger" style="float:left">Back</button>
<button (click)="save()" class="btn btn-success" style="float:right">Save</button>
